.place__content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

@media screen and (max-width: 375px) {
    .place__content {
    margin-top: 32px;
    flex-direction: column;
    }
}