.lead__title {
    max-width: 720px;
    margin: 56px auto 0;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    font-family: Inter;
}