.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
}

@media screen and (max-width: 540px) {
    .footer__copyright {
        text-align: left;
        line-height: 14px;
        margin: 0;
        padding-bottom: 24px;
    }
}