.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 64px;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 125%;
        margin: 0 auto 40px;
    }
}