.lead__caption {
    max-width: 158px;
    height: 14px;
    font-size: 10px;
    line-height: 140%;
    margin: 8px 0 0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 540px) {
    .lead__caption {
        margin-left: 16px;
    }
}