.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0 auto 32px;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 360px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
        white-space: pre-wrap;
    }
}